@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Bilirkişi Portal V.1.3</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    @*<link href="~/web3/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />*@
    <link href="~/web3/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/circles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- font-awesome-icons -->
    <link href="~/web3/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    @*<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">*@
</head>
<body>
    <div>
        <br />
        <a href="/BilirkisiDosya/DosyaEkle/" class="btn btn-danger" style="margin-left: 30px;">Dosya Ekle</a>
    </div>
    <!-- banner -->
    <div class="wthree_agile_admin_info">
        <!-- /w3_agileits_top_nav-->
        <!-- /nav-->
        <!--<div class="clearfix"></div>-->
        <!-- //w3_agileits_top_nav-->
        <!-- /inner_content-->
        <!--<div class="inner_content">-->
        <!-- /inner_content_w3_agile_info-->
        <!--<div class="inner_content_w3_agile_info">-->
        <!-- /agile_top_w3_grids-->
        <div class="agile_top_w3_grids">
            <ul class="ca-menu">
                <li>
                    <a href="#">

                        <i class="fa fa-file" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main">@ViewBag.dgr1</h4>
                            <h3 class="ca-sub">Bekleyen Dosya Adedi</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-file-archive" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main one">@ViewBag.dgr2</h4>
                            <h3 class="ca-sub one">Yapılan Toplam Dosya Adedi</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-money-bill" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main three">@ViewBag.dgr4 TL</h4>
                            <h3 class="ca-sub three">Bekleyen Ödeme</h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-money-bill-wave" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main four">@ViewBag.dgr5 TL</h4>
                            <h3 class="ca-sub four">Kesintiler Toplamı</h3>
                        </div>
                    </a>
                </li>
                <br />
                <br />
                <li>
                    <a href="#">

                        <i class="fa fa-money" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main">@ViewBag.dgr6 TL</h4>
                            <h3 class="ca-sub">Net Ele Geçecek</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-dollar-sign" aria-hidden="true"></i>
                        <div class="ca-content">
                            <h4 class="ca-main">@ViewBag.dgr7 TL</h4>
                            <h3 class="ca-sub">Kişi Başı Net Gelir</h3>
                        </div>
                    </a>
                </li>

                <div class="clearfix"></div>
            </ul>
        </div>
        <!-- //agile_top_w3_grids-->
        <!-- /agile_top_w3_post_sections-->
        <!-- //social_media-->
    </div>
    <!-- //inner_content_w3_agile_info-->
    </div>
    <!-- //inner_content-->
    </div>
    <!-- banner -->
    <!--copy rights start here-->
    <!--copy rights end here-->
    <!-- js -->

    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

    <!-- /amcharts -->
    <script src="~/web3/js/amcharts.js"></script>
    <script src="~/web3/js/serial.js"></script>
    <script src="~/web3/js/export.js"></script>
    <script src="~/web3/js/light.js"></script>
    <!-- Chart code -->
    <!-- Chart code -->
    <!-- //amcharts -->
    <script src="~/web3/js/chart1.js"></script>
    <script src="~/web3/js/Chart.min.js"></script>
    <script src="~/web3/js/modernizr.custom.js"></script>

    <script src="~/web3/js/classie.js"></script>
    <script src="~/web3/js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <!-- script-for-menu -->
    <!-- /circle-->
    <script type="text/javascript" src="~/web3/js/circles.js"></script>
    <script>
        var colors = [
            ['#ffffff', '#fd9426'], ['#ffffff', '#fc3158'], ['#ffffff', '#53d769'], ['#ffffff', '#147efb']
        ];
        for (var i = 1; i <= 7; i++) {
            var child = document.getElementById('circles-' + i),
                percentage = 30 + (i * 10);

            Circles.create({
                id: child.id,
                percentage: percentage,
                radius: 80,
                width: 10,
                number: percentage / 1,
                text: '%',
                colors: colors[i - 1]
            });
        }

    </script>
    <!-- //circle -->
    <!--skycons-icons-->
    <script src="~/web3/js/skycons.js"></script>
    <script>
        var icons = new Skycons({ "color": "#fcb216" }),
            list = [
                "partly-cloudy-day"
            ],
            i;

        for (i = list.length; i--;)
            icons.set(list[i], list[i]);
        icons.play();
    </script>
    <script>
        var icons = new Skycons({ "color": "#fff" }),
            list = [
                "clear-night", "partly-cloudy-night", "cloudy", "clear-day", "sleet", "snow", "wind", "fog"
            ],
            i;

        for (i = list.length; i--;)
            icons.set(list[i], list[i]);
        icons.play();
    </script>
    <!--//skycons-icons-->
    <!-- //js -->
    <script src="~/web3/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <script src="~/web3/js/flipclock.js"></script>

    <script type="text/javascript">
        var clock;

        $(document).ready(function () {

            clock = $('.clock').FlipClock({
                clockFace: 'HourlyCounter'
            });
        });
    </script>
    <script src="~/web3/js/bars.js"></script>
    <script src="~/web3/js/jquery.nicescroll.js"></script>
    <script src="~/web3/js/scripts.js"></script>

    <script type="text/javascript" src="~/web3/js/bootstrap-3.1.1.min.js"></script>


</body>
</html>